
<span (click)="moveToHivedetail(hive.id)" class="hivecard col-12" >
<ion-card>
  <ion-card-header>
    <ion-card-title>

       <ion-item class="transparentBg">
        <ion-label class="important-text">{{hive.name}}</ion-label>
        <span class="unimportant-text">{{hive.state}}</span>
      </ion-item>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content  class="container">
    <ion-item class="transparentBg">
      <span class="important-text">{{hive.id}}</span>
    </ion-item>
  </ion-card-content>
</ion-card>
</span>


