
<div class="container" *ngIf="!dashboard">
  <div class="row">
    <div *ngFor="let card of hive.hivecards" class="card col-11 col-md-5" style="margin-left: 5%; margin-top: 2%;" >
      <div class="card-body" (click)="editHivecard(card.id)">
        <h4 class="card-title">{{card.creationDate}}</h4>
        <p class="card-text">andere wichtige Daten</p>
      </div>
    </div>
  </div>
</div>



<div class="container" *ngIf="dashboard">
  <div class="row">
    <div *ngFor="let card of dashboardCards" class="card col-11 col-md-5" style="margin-left: 5%; margin-top: 2%; ">
      <div class="card-body" *ngIf="card.hiveId != 0">
        <h4 class="card-title">Volkname: {{card.hiveName}}</h4>
        <p class="card-text">{{card.creationDate}}.</p>
      </div>
    </div>
  </div>
</div>
