<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="isEditMode" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">

    <ion-item>
      <ion-label>Farbe Königin</ion-label>
        <ion-item (click)="moreColorButton($event)">
            <ion-icon [color]="selectedColor" name="water"></ion-icon>
        </ion-item>
    </ion-item>


    <ion-item>
      <ion-label >Volkname</ion-label>
      <ion-textarea rows="1.5" cols="20" placeholder=""
                    #hiveName
                    required="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label >Rasse</ion-label>
      <ion-textarea rows="1.5" cols="20" placeholder=""
                    #race
                    required="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label >Beutenart</ion-label>
      <ion-textarea rows="1.5" cols="20" placeholder=""
                    #beehiveKind
                    required="true"></ion-textarea>
    </ion-item>

<!--    <ion-item>-->
<!--      <ion-label >Standort</ion-label>-->
<!--      <ion-textarea rows="1.5" cols="20" placeholder="in Arbeit..."-->
<!--                    #position-->
<!--                    required="true"></ion-textarea>-->
<!--    </ion-item>-->
  </ion-list>



  <div padding>
    <ion-button (click)="save()" size="large" type="submit" expand="block">Speichern</ion-button>
  </div>
</ion-content>
