<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="isEditMode" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-list lines="full">

      <ion-item>
        <ion-label>Datum</ion-label>
        <ion-datetime [placeholder]="hivecard.creationDate" cancelText="Abbrechen" doneText="Fertig" displayFormat="DD/MM/YYYY"
                      pickerFormat="DD MM YY" #date ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Brutstadien</ion-label>
        <ion-select multiple="true" #broodStatus>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Königin gesehen?</ion-label>
        <ion-checkbox  [checked]="isCheckedQueenSeen" #queenSeenCheck></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Sanftmut</ion-label>
        <ion-icon (click)="gentleStar(1)" id="gentleStar_1" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="gentleStar(2)" id="gentleStar_2" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="gentleStar(3)" id="gentleStar_3" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="gentleStar(4)" id="gentleStar_4" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="gentleStar(5)" id="gentleStar_5" name="star-outline" color="dark"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Schwarmverhalten</ion-label>
        <ion-icon (click)="behaviorStar(1)" id="behaviorStar_1" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="behaviorStar(2)" id="behaviorStar_2" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="behaviorStar(3)" id="behaviorStar_3" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="behaviorStar(4)" id="behaviorStar_4" name="star-outline" color="dark"></ion-icon>
        <ion-icon (click)="behaviorStar(5)" id="behaviorStar_5" name="star-outline" color="dark"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Baurahmen erneuert</ion-label>
        <ion-select multiple="true" #frameChange>
          <ion-select-option value="links">links</ion-select-option>
          <ion-select-option value="rechts">rechts</ion-select-option>
        </ion-select>
      </ion-item>

<!--      <ion-item>-->
<!--        <ion-label>Belagwaben</ion-label>-->
<!--        <ion-input #belagwaben-->
<!--                   type="string"-->
<!--                   text-right-->
<!--                   max="100"-->
<!--                   required>-->
<!--        </ion-input>-->
<!--      </ion-item>-->

      <ion-item>
        <ion-label>Bemerkungen</ion-label>
        <ion-textarea rows="1.5" cols="20" placeholder=""
                      #bemerkungen
                      required="true"
                      text-right></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label >Auffälligkeiten</ion-label>
        <ion-textarea rows="1.5" cols="20" placeholder=""
                      #auffaeligkeiten
                      required="true"
                      text-right></ion-textarea>
      </ion-item>
    </ion-list>

  <div padding>
    <ion-button (click)="save()" size="large" type="submit" expand="block">Speichern</ion-button>
  </div>
</ion-content>
