<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="isEditMode" (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  <form [formGroup]="detailForm">-->
    <ion-list lines="full">

      <ion-item>
        <ion-label>Datum</ion-label>
        <ion-datetime [placeholder]="hiveCard.erstelldatum" cancelText="Abbrechen" doneText="Fertig" displayFormat="DD/MM/YYYY"
                      pickerFormat="DD MM YY" #date ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Brutstadien</ion-label>
        <ion-select interface="popover" #stadium>
          <ion-select-option *ngFor="let num of stadien"
                             [value]="num">{{num}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Königin gesehen?</ion-label>
        <ion-checkbox  [checked]="isCheckedQueenSeen"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Sanftmut</ion-label>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Schwarmverhalten</ion-label>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Belagwaben</ion-label>
        <ion-input #belagwaben
                   type="string"
                   text-right
                   max="100"
                   required>
        </ion-input>
      </ion-item>

      <ion-item>
        <div class="row">
          <ion-label class="col-6">Baurahmen erneuert</ion-label>

          <ion-segment class="col-6" color="primary">
            <ion-segment-button value="friends">
              <ion-label>links</ion-label>
            </ion-segment-button>
            <ion-segment-button value="enemies">
              <ion-label>rechts</ion-label>
            </ion-segment-button>
          </ion-segment>

        </div>
      </ion-item>

      <ion-item>
        <ion-label>Bemerkungen</ion-label>
        <ion-textarea rows="1.5" cols="20" placeholder=""
                      #bemerkungen
                      required="true"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label >Auffälligkeiten</ion-label>
        <ion-textarea rows="1.5" cols="20" placeholder=""
                      #auffaeligkeiten
                      required="true"></ion-textarea>
      </ion-item>






      <!--      <ion-item>-->
<!--        <ion-label>Creditpoints</ion-label>-->
<!--        <ion-input formControlName="crp"-->
<!--                   #crp-->
<!--                   type="number"-->
<!--                   text-right-->
<!--                   max="30"-->
<!--                   required>-->
<!--        </ion-input>-->
<!--      </ion-item>-->
<!--      <p class="ion-text-end ion-padding-end text-danger"-->
<!--         *ngIf="errors.get('crp')">-->
<!--        {{errors.get('crp')}}-->
<!--      </p>-->


<!--      <ion-item>-->
<!--        <ion-label>Note</ion-label>-->
<!--        <ion-input formControlName="mark"-->
<!--                   #mark-->
<!--                   type="number"-->
<!--                   text-right-->
<!--                   max="100"-->
<!--                   required>-->
<!--        </ion-input>-->
<!--      </ion-item>-->

<!--      <p class="ion-text-end ion-padding-end text-danger"-->
<!--         *ngIf="errors.get('mark')">-->
<!--        {{errors.get('mark')}}-->
<!--      </p>-->

    </ion-list>
<!--  </form>-->
  <div padding>
    <ion-button size="large" type="submit" expand="block">Speichern</ion-button>
  </div>
</ion-content>
