<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>einladen / beitreten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-spinner *ngIf="showSpinner"></app-spinner>

  <ion-list *ngIf="!showSpinner" style="background-color: #f4f5f8">

    <ion-item color="light">
      <ion-label position="floating">Code einlösen</ion-label>
      <ion-input type="text" [(ngModel)]="redeemCode"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button fill="solid" size="large" expand="block" color="primary" (click)="redeemButton()">Einlösen</ion-button>

  <br>
  <ion-item>
    <ion-label>Volk</ion-label>
    <ion-select cancelText="Abbrechen" placeholder="Volk auswählen" #hive>
      <ion-select-option [value]="hive.id" *ngFor="let hive of hives">{{hive.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button fill="solid" size="large" expand="block" color="primary" (click)="generateButton()">Versenden</ion-button>


</ion-content>
