<ion-button (click)="choose('blue')">
    <ion-icon class="blue" name="water"></ion-icon>
</ion-button>
<br>
<ion-button (click)="choose('white')">
    <ion-icon class="white" name="water"></ion-icon>
</ion-button>
<br>
<ion-button (click)="choose('yellow')">
    <ion-icon class="yellow" name="water"></ion-icon>
</ion-button>
<br>
<ion-button (click)="choose('red')">
    <ion-icon class="red" name="water"></ion-icon>
</ion-button>
<br>
<ion-button (click)="choose('green')">
    <ion-icon class="green" name="water"></ion-icon>
</ion-button>

