<ion-list>

  <ion-item (click)="choose('primary')">
    <ion-icon color="primary" name="water"></ion-icon>
  </ion-item>

  <ion-item (click)="choose('light')">
    <ion-icon color="light" name="water"></ion-icon>
  </ion-item>

  <ion-item (click)="choose('warning')">
    <ion-icon color="warning" name="water"></ion-icon>
  </ion-item>

  <ion-item (click)="choose('danger')">
    <ion-icon color="danger" name="water"></ion-icon>
  </ion-item>

  <ion-item (click)="choose('success')">
    <ion-icon color="success" name="water"></ion-icon>
  </ion-item>

</ion-list>
