<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title>Summerei</ion-title>
        <ion-buttons slot="end">

            <ion-button *ngIf="!slideView" (click)="initSearch()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>

<!--            <ion-button color="dark" *ngIf="isNotDashboard">-->
<!--                <ion-icon slot="icon-only" name="stats"></ion-icon>-->
<!--            </ion-button>-->
            <ion-button (click)="moreButton($event)" >
                <ion-icon slot="icon-only" name="more">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <!--    Dieser Teil wird benötigt wenn Die Ansicht als Slider Ansicht gewünscht ist-->
    <div *ngIf="slideView">
        <ion-toolbar color="secondary" *ngIf="hiveData.length > 0">
            <ion-slides (ionSlideTransitionStart)="transitionFromVoelker()" [options]="optionsTabSlide" #voelker>
                <ion-slide *ngIf="showDashboard">
                    <ion-chip color="dark">
                        <ion-label color="dark">Dashboard</ion-label>
                    </ion-chip>
                </ion-slide>
                <ion-slide *ngFor="let hive of hiveData" class="hiveName" (click)="editHive(hive.id)">
                    <ion-chip *ngIf="hive.state == 'good'" color="success">
                        <i class="material-icons smileys">sentiment_very_satisfied</i>
                        <ion-label color="dark">{{hive.name}}</ion-label>
                    </ion-chip>

                    <ion-chip *ngIf="hive.state == 'mediocre'" color="warning">
                        <i class="material-icons smileys">sentiment_satisfied</i>
                        <ion-label color="dark">{{hive.name}}</ion-label>
                    </ion-chip>

                    <ion-chip *ngIf="hive.state == 'bad'" color="danger">
                        <i class="material-icons smileys">sentiment_very_dissatisfied</i>
                        <ion-label color="dark">{{hive.name}}</ion-label>
                    </ion-chip>

                </ion-slide>
            </ion-slides>
        </ion-toolbar>
    </div>
    <!--    Dieser Teil wird benötigt wenn Die Ansicht als Slider Ansicht gewünscht ist-->
</ion-header>


<ion-content id="ionContent">

    <ion-searchbar *ngIf="showSearch"
                   (ionInput)="doSearch($event)"
                   (ionClear)="clearSearchbar()"
                   [showCancelButton]="true"
                   (ionCancel)="resetSearch()"
                   #searchbar>
    </ion-searchbar>

    <!--    <app-hive-list></app-hive-list>-->

    <!--    Dieser Teil wird benötigt wenn Die Ansicht als Slider Ansicht gewünscht ist-->
    <div *ngIf="slideView">
        <ion-slides (ionSlideTransitionStart)="transitionFromStockkarten()" [options]="optionsCardsSlide" #stockkarten
                    id="cardSlider">
            <ion-slide *ngIf="showDashboard">
                <app-slider-item [dashboardCards]="dashboardHivecards" [dashboard]="true"
                                 id="dashboard"></app-slider-item>
            </ion-slide>
            <ion-slide *ngFor="let hive of hiveData">
                <app-slider-item [dashboard]="false" [hive]="hive" [id]="hive.id"></app-slider-item>
            </ion-slide>
        </ion-slides>
    </div>
    <!--    Dieser Teil wird benötigt wenn Die Ansicht als Slider Ansicht gewünscht ist-->


    <div *ngIf="!slideView">
        <app-hive-list *ngFor="let hive of hiveData" [hive]="hive"></app-hive-list>
    </div>


    <div class="card noHive" *ngIf="hiveData.length == 0 && !showNothingFound">
        <div class="card-body">
            <h3 class="card-title">Es Sind keine Völker vorhanden!</h3>
            <h4 style="text-align: left" class="card-text">
                Hier:
                <ion-button shape="round" color="tertiary" size="large" class="hiveButton" (click)="creatHive()"><img
                        src="../../../assets/beehive_icon.png"></ion-button>
                können Sie ein Volk anlegen!
            </h4>
        </div>
    </div>

    <div *ngIf="showNothingFound" class="alert alert-danger container-fluid text-center">
        <strong>Keine</strong> Übereinstimmung!
    </div>

</ion-content>

<div *ngIf="slideView">
    <ion-fab *ngIf="isNotDashboard && hiveData.length > 0" (click)="createHiveCard()" vertical="bottom" horizontal="end"
             slot="">
        <ion-fab-button color="tertiary">
            <ion-icon color="dark" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</div>


