.smileys {
  margin-right: 5px;
}

ion-content {
  --background: none;
  background-image: url(../../../assets/biene-im-anflug.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
