<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>Summerei</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" *ngIf="isNotDashboard">
                <ion-icon slot="icon-only" name="stats"></ion-icon>
            </ion-button>
            <ion-button (click)="moreButton($event)" color="dark">
                <ion-icon  slot="icon-only" name="more">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="light">
      <ion-slides (ionSlideTransitionStart)="transitionFromVoelker()" [options]="optionsTabSlide" #voelker>
          <ion-slide *ngIf="showDashboard">
              <ion-chip color="dark">
                  <ion-label color="dark">Dashboard</ion-label>
              </ion-chip>
          </ion-slide>
          <ion-slide *ngFor="let hive of hiveData" class="btn-group hiveName">
              <ion-chip color="success">
                  <i class="material-icons smileys">sentiment_very_satisfied</i>
                  <ion-label color="success">{{hive.name}}</ion-label>
              </ion-chip>
          </ion-slide>
      </ion-slides>
    </ion-toolbar>
</ion-header>



<ion-content id="ionContent" >


    <ion-slides (ionSlideTransitionStart)="transitionFromStockkarten()" [options]="optionsCardsSlide"  #stockkarten id="cardSlider">
        <ion-slide *ngIf="showDashboard">
            <app-slider-item [dashboardCards]="dashboardHivecards" [dashboard]="true"  id="dashboard"></app-slider-item>
        </ion-slide>
        <ion-slide *ngFor="let hive of hiveData">
            <app-slider-item [dashboard]="false" [hive]="hive" [id]="hive.id"></app-slider-item>
        </ion-slide>
    </ion-slides>

    <div class="card-body" *ngIf="hiveData.length == 0" #noCards>
        <h5 class="card-title">dfsdafsadf</h5>
        <h5 class="card-text"></h5>
    </div>



    <ion-fab *ngIf="isNotDashboard && hiveData.length > 0" (click)="createHiveCard()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary">
            <ion-icon color="dark" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
